<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    	<div>
    <!-- banner -->
    <div class="jumbotron text-center">
      <h1>About</h1>
    </div>
    <!-- //banner -->


    <!-- Team page -->



    <section class="about py-5" id="about">
    	<div class="container py-lg-5 py-sm-3">
    		<div class="row">
    			<div class="col-lg-3 about-left">
    				<h3 class="heading mb-lg-5 mb-4">About us</h3>
    			</div>
    			<div class="col-lg-5 col-md-7 about-text">
    				<h3>장애인 맞춤형 채용정보 제공사이트 SSOKSSOK</h3>
    				<p class="mt-3">안녕하십니까 SSOKSSOK 입니다. 저희는 일자리를 구하는것이 힘든 장애인분들을 위하여 맞춤형 채용정보를 제공해주고 있습니다.</p>
    				<p class="mt-2">Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel, ultrices in ligula. Nulla uter sollicitudin velit. Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus.</p>
    			</div>
    			<div class="col-lg-4 col-md-5 about-img">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbaGejv%2Fbtqw1uiL6zU%2FoEi2DP3vTDr3c8WN51S9bK%2Fimg.png" alt="" class="img-fluid"/>
        
    			</div>
    		</div>
    	</div>
    </section>
    <!-- //Team page -->



    <!-- why choose us -->
    <section class="choose py-5" id="services">
      <div class="container py-md-3">
        <h3 class="heading mb-5"> What we provide</h3>
        <div class="feature-grids row">
          <div class="col-lg-3 col-sm-6">
            <div class="f1 icon1 p-4">
              <div class="icon">
                <span class="fa fa-bandcamp"></span>
              </div>
              <h3 class="my-3">전국 장애인대상 채용정보 크롤링</h3>
              <p>전국에 있는 수백여개의 장애인 대상 채용 정보를 가져와 이 한 곳에 모아놨습니다.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
            <div class="f1 icon2 p-4">
              <div class="icon">
                <span class="fa fa-codepen"></span>
              </div>
              <h3 class="my-3">맞춤형 채용정보 제공</h3>
              <p>수많은 채용정보가 있지만 나의여건에 맞는 공고가 무엇인지 모르시겠다고요? SSOCK SSOCK에서는 본인의 지역, 여건, 선호사항등에 따라서 나에게 딱 맞는 맞춤형 채용정보를 제공합니다</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
            <div class="f1 icon3 p-4">
              <div class="icon">
                <span class="fa fa-btc"></span>
              </div>
              <h3 class="my-3">커뮤니티</h3>
              <p>전국에 있는 장애인 취준생들과 교류하며 정보를 공유해보세요!</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
            <div class="f1 icon4 p-4">
              <div class="icon">
                <span class="fa fa-cloud"></span>
              </div>
              <h3 class="my-3">성공취업기원</h3>
              <p>장애인 분들의 자립과 취업을 위하여 좀더 나은 서비스를 드릴수 있도록 항상 노력하겠습니다</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //why choose us -->

<% include ../partials/footer.ejs %>
  </body>
</html>
